@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bgColor: #ff9cce;
    --accentColor: #8B31FF;
    --accentColorSecondary: rgba(255, 38, 147, 0.5);
    --textPrimaryColor: #5f144fce;
    --textSecondaryColor: #fe05ccce;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding: 90px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bgColor);
}

main {
    padding: 40px;
    line-height: 1.6;
    text-align: center;
}

header.navbar-menu {
    position: sticky;
    width: 100%;
    background: var(--accentColorSecondary);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(242, 102, 35, 0.26);
    inset-block-start: 0;
    padding: .5rem 3rem;
    z-index: 20;
}

.navbar {
    display: flex;
    width: 100%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-family: 'Bowlby One SC';
    font-size: 1.7rem;
}

.logo a {
    color: var(--textPrimaryColor) !important;
    text-shadow: 1px 2px 1px white;
    white-space: nowrap;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.navbar ul a {
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    text-decoration: none;
    text-transform: capitalize;
}

.navbar ul a:hover,
.navbar ul a:focus-visible {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .08);
}

.unlist {
    list-style: none !important;
}

section#beranda div {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: auto auto;
}

section#beranda div h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: var(--textPrimaryColor);
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 20px;
    align-items: center;
}

section#beranda div h1:after,
section#beranda div h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--accentColor);
    border-top: 1px solid var(--accentColor);
    height: 5px;
}

h2 {
    color: var(--textPrimaryColor);
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    border-bottom: 2px solid var(--accentColor);
    padding-bottom: 5px;
}

a:link,
a:visited {
    color: var(--accentColor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section:last-child {
    margin-bottom: 0;
}

section#top {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 10px;
}

.content {
    width: 100%;
    flex: 2;
}

.content table {
    font-size: 1.5rem;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1;
    width: 100%;
    background-color: #ffbdde;
    /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); */
    border-radius: 6%;
}

div.avatar img {
    width: 300px;
    /* object-fit: cover; */
}

.hobi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

table {
    width: 100%;
    text-align: left;
    font-weight: bold;
    padding-inline: 2rem;
    /* border: 2px red solid; */
}

iframe {
    width: 600px;
    aspect-ratio: 16/9;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: max-content;
    height: 100vh;
    height: 100dvh;
    top: 40px;
    left: 0;
    z-index: 99;
}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: var(--accentColorSecondary);
    font-size: 2rem;
}

aside ul a {
    width: 100%;
    padding: 10px;
}

aside ul a:hover {
    background-color: var(--accentColorSecondary);
    text-decoration: none;
}

aside ul a:hover i {
    color: var(--iconColor);
    animation: rotate .5s forwards;
}

@keyframes rotate {

    0%,
    50% {
        rotate: 180deg;
    }

    50%,
    100% {
        rotate: 360deg;
    }
}

aside ul a li {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

aside ul a li i {
    color: white;
}

footer {
    width: 100%;
    padding: 0 40px 20px 40px;
}

footer div {
    background-color: white;
    padding-block: 20px;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    white-space: nowrap;
}

footer a:link,
footer a:visited {
    color: var(--textPrimaryColor);
    font-weight: bold;
}

footer span {
    color: var(--textSecondaryColor);
}

@media screen and (max-width: 874px) {
    :root {
        font-size: 14px;
    }

    .content table {
        font-size: 1.1rem;
    }

    iframe {
        width: 400px;
        aspect-ratio: 16/9;
    }

    footer div a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 12px;
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .wrapper {
        flex-direction: column;
        gap: 1rem;
    }

    .profile {
        order: -1;
    }

    .avatar img {
        width: 200px;
    }

    .content table {
        font-size: 1.1rem;
    }

    .divider {
        display: none;
    }

    iframe {
        width: 100%;
    }

    footer div a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 560px) {
    footer div a {
        font-size: .8rem;
    }
}

@media screen and (max-width: 425px) {
    :root {
        font-size: 11px;
    }

    .navbar ul {
        gap: 0;
        padding: 0;
    }

    .navbar ul a {
        padding: 5px 10px;
    }

    section#beranda div h1 {
        font-size: 2rem;
        gap: 10px;
    }

    .avatar img {
        width: 160px !important;
    }

    footer {
        padding-inline: 40px;
    }
}

@media screen and (max-width: 375px) {
    :root {
        font-size: 10px;
    }

    main {
        padding: 20px;
    }

    footer {
        padding-inline: 20px;
    }

    footer p a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    main {
        padding: 15px;
    }

    section#bearanda div h1 {
        font-size: 1.5rem;
        gap: 8px;
    }

    aside ul {
        font-size: 1.5rem;
    }

    footer {
        padding-inline: 15px;
    }
}